<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <!-- 加入圖片 -->
    <p>This website is created by Mark Chen. It uses data from mapbox.com and darksky.net!</p>
    <img src="/img/me.jpg">
    {{>footer}}
</body>

</html>