<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- 使用partials 使用時機:標題都一樣 就可以使用partials 減少重工 不須一直重新複製貼上 -->
    {{>header}}

    <h1>{{helpText}}</h1>
    
    {{>footer}}

</body>

</html>