<!DOCTYPE html>

<html>

<head>
    <!-- 連接CSS file -->
    <link rel="stylesheet" href="/css/styles.css"> 

    <!-- 連接JavaScript file -->
    <script src="/js/app.js"></script>
</head>

<body>
    {{>header}} 
    {{>footer}}
</body>

</html>